a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.scroll-btn {
	height: 40px;
	width: 40px;
	border: 2px solid #0052cc;
	border-radius: 10%;
	background-color: #0066ff;
	position: fixed;
	bottom: 25px;
	right: 20px;
	opacity: 0.8;
	z-index: 9999;
	cursor: pointer;
	display: none;
}

.scroll-btn .scroll-btn-arrow {
	height: 12px;
	width: 12px;
	border: 3px solid;
	border-right: none;
	border-top: none;
	margin: 15px 12px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	color: white;
}

.notouch .scroll-btn:hover { opacity: 0.8 }

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.scroll-btn {
		bottom: 8px;
		right: 8px;
	}
}

/* --- AJOUT STYLES MODE SOMBRE --- */
.theme-switcher {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.375rem 0.75rem; /* Aligner avec les autres nav-links */
}

/* Assurer que l'icône s'aligne bien */
.theme-switcher i {
    font-size: 1rem;
    vertical-align: middle;
}

/* ===================================
   Correction Popup Image
====================================== */
/* * Force toutes les images à l'intérieur d'un modal
 * à prendre 100% de la largeur et à s'adapter en hauteur,
 * peu importe leur style en ligne (ex: style="width: 25%;")
*/
.modal-body img {
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
}
/*
 * Cache complètement la barre de titre et le bouton 'X'.
*/
.modal-header {
    display: none;
}